@import "tailwindcss";

*{
  font-family:  sans-serif;
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  width: 100%;
  background: pink;
}

.landing__page{
  color: white;
  text-align: center;
  padding: 3rem; 
  border: 1px solid white;
}

p{
  padding-top: 1.2rem;
}

.king__icon{
  padding: 1.1rem;
  margin: 1.1rem;
  margin-top: 0;
  padding-top: .5rem;
  padding-left: .3rem;
}