*{
  font-family:  sans-serif;
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  width: 100%;
  /* background: linear-gradient(#AA60C8, #FFDFEF); */
  /* background-image: url(../assests/ai-generated-8241324_1280.webp); */
  background-size: cover;
  background: linear-gradient(pink, crimson);

}

.landing__page{
  color: white;
  text-align: center;
  padding: 3rem; 
  border: 1px solid white;
}

p{
  padding-top: 1.2rem;
}